<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between"
  style="background: #3f51b5; color: white;">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background: #3f51b5; color: white;">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngIf="(user | async)?.accountType == 'admin'">
              <button mat-button routerLink="/admin">
                <mat-icon>admin_panel_settings</mat-icon>
                {{ 'admin' | translate }}
              </button>
            </li>
            <li class="nav-item">
              <button mat-button routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                {{ 'dashboard' | translate }}
              </button>
            </li>
            <li class="nav-item">
              <button mat-button routerLink="/payments">
                <mat-icon> attach_money</mat-icon>
                {{ 'payments' | translate }}
              </button>
            </li>
            <li class="nav-item" *ngIf="(user | async)?.accountType == 'admin'">
              <button mat-button routerLink="/user-list">
                <mat-icon>list</mat-icon>
                {{ 'userList' | translate }}
              </button>
            </li>
            <li>
              <button mat-button routerLink="/announces">
                <mat-icon>add_alert</mat-icon>
                {{ 'anounces' | translate }}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="d-flex flex-row">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <button type="button" class="btn btn-sm btn-outline-warning" (click)="changeLanguage('en-US')" [class.active]="!translateService.currentLang || translateService.currentLang === 'en-US'">English</button>
        <button type="button" class="btn btn-sm btn-outline-warning ml-5" (click)="changeLanguage('tr-TR')" [class.active]="translateService.currentLang === 'tr-TR'">Turkish</button>
    </ul>
    <button mat-button class="justify-content-end" (click)="logout()">
      <mat-icon>logout</mat-icon>
      {{ 'logout' | translate }}
    </button>
</div>
</nav>

<div class="list row" *ngIf="(user | async)?.accountType == 'admin'; else userBoard">
  <div class="col-md-7">
    <div class="col-3 ml-5 mt-5">
            <div class="content-container">
                <button mat-raised-button color="primary" style="cursor: default !important;">
                    <mat-icon>home</mat-icon>
                    <span> {{"complaints" | translate}} </span>
                </button>
            </div>
    </div>

    <div class="page-container ml-5 mt-5 col-10">
      <div class="content-container">
        <div class="table-responsive">
          <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
              <tr>
                <th scope="col">{{"title" | translate}}</th>
                <th scope="col">{{"description" | translate}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let complaint of complaints; let i = index" [class.active]="i == currentIndex">
                <td>{{complaint.title}}</td>
                <td>{{complaint.description}}</td>
                <td class="text-center action-block">
                  <span class="btn btn-outline-danger btn-sm ml-2" [class.active]="i == currentIndex" (click)="setActiveComplaint(complaint, i)">
                    {{"edit" | translate}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="col-3 ml-5 mt-5">
      <div class="content-container">
          <button mat-raised-button color="primary" style="cursor: default !important;">
              <mat-icon>list</mat-icon>
              <span>{{ "complaintDetails" | translate}} </span>
          </button>
      </div>
</div>
<div *ngIf="currentComplaint">
  <app-complaints-details
    (refreshList)="refreshList()"
    [complaint]="currentComplaint"
  ></app-complaints-details>
</div>
  
    <div *ngIf="!currentComplaint">
      <br />
      <p>{{"clickplease" | translate}} </p>
    </div>
  </div>
</div>

<ng-template #userBoard>
  <div class="col-md-7">
    <div class="col-3 ml-5 mt-5">
            <div class="content-container">
                <button mat-raised-button color="primary" style="cursor: default !important;">
                    <mat-icon>home</mat-icon>
                    <span> {{"complaints" | translate}} </span>
                </button>
            </div>
    </div>

    <div class="page-container ml-5 mt-5 col-10">
      <div class="content-container">
        <div class="table-responsive">
          <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
              <tr>
                <th scope="col">{{"title" | translate}}</th>
                <th scope="col">{{"description" | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let complaint of complaints; let i = index">
                <td>{{complaint.title}}</td>
                <td>{{complaint.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>
