<div *ngIf="currentAnounce" class="edit-form">
  <h4>{{ 'announces' | translate }}</h4>
  <form>
    <div #editform class="form-group">
      <label for="title">{{"title" | translate}}</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="currentAnounce.title"
        name="title"
      />
    </div>
    <div class="form-group">
      <label for="description">{{"description" | translate}}</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="currentAnounce.description"
        name="description"
      />
    </div>

    <div class="form-group">
      <label><strong>Status:</strong></label>
      {{ currentAnounce.published ? "Published" : "Pending" }}
    </div>
  </form>
  <button type="submit" class="btn btn-outline-danger btn-sm ml-2" (click)="updateAnounce()">
    {{ 'update' | translate }}}
  </button>
  <span class="btn btn-outline-danger btn-sm ml-2" (click)="deleteAnounce()">
    {{ 'delete' | translate }}
  </span>
  <p>{{"message" | translate}}</p>
</div>

<div *ngIf="!currentAnounce">
  <br />
  <p>{{"no-anounce" | translate}}...</p>
</div>
