<nav class="navbar navbar-expand-lg navbar-light" style="background: #3f51b5;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarRightAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button mat-button routerLink="/login">
                <mat-icon>login</mat-icon>
                Login
            </button>
          </li>
          <li class="nav-item">
            <button class="justify-content-end" mat-button (click)="logout()">
                <mat-icon>logout</mat-icon>
                Logout
            </button>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>

  
<div class="row d-flex justify-content-center">
    <div class="col-4 mt-5">
        <div class="list-group mt-5" id="list-tab" role="tablist">
            Login Page
            <br>
            <br>
            <button mat-raised-button color="primary" routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>

            <mat-card>
                <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input autocomplete="off" formControlName="password" type="password" matInput
                                placeholder="Password">
                        </mat-form-field>
                    </p>
                    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                        <span>{{ firebaseErrorMessage }}</span>
                    </div>

                    <button mat-raised-button color="primary">Login</button>
                </form>
            </mat-card>

            <div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
                <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </div>
    </div>
</div>