    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between" style="background: #3f51b5; color: white;">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <button type="button" class="btn btn-sm btn-outline-warning" (click)="changeLanguage('en-US')" [class.active]="!translateService.currentLang || translateService.currentLang === 'en-US'">English</button>
                <button type="button" class="btn btn-sm btn-outline-warning ml-5" (click)="changeLanguage('tr-TR')" [class.active]="translateService.currentLang === 'tr-TR'">Turkish</button>
            </ul>
        </div>
    <div>
        <button mat-button class="justify-content-end" routerLink="/signup">
            <mat-icon>logout</mat-icon>
            {{ "signup" | translate }}
        </button>
    </div>
  </nav>
    
  <div class="d-flex justify-content-center m-5">
    <button mat-raised-button color="primary">
        <mat-icon>verified_user</mat-icon>
        <span>{{ "signin" | translate }}</span>
    </button>
    </div>
    <div class="form-container mat-elevation-z5">
                <mat-card>
                    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                        <p  class="center" >
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
                            </mat-form-field>
                        </p>
                        <p class="center" >
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input autocomplete="off" formControlName="password" type="password" matInput
                                    placeholder="Password">
                            </mat-form-field>
                        </p>
                        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                            <span>{{ firebaseErrorMessage }}</span>
                        </div>
                        <div  class="center" >
                          <button mat-raised-button color="primary">{{ "login" | translate }}</button>
                          <button mat-raised-button color="primary" class="ml-3" routerLink="/signup" >{{ "signup" | translate }}</button>
                        </div>

                    </form>
                </mat-card>
    
                <div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
                    <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            </div>
 