<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between"
  style="background: #3f51b5; color: white;">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background: #3f51b5; color: white;">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <button mat-button routerLink="/admin">
                <mat-icon>admin_panel_settings</mat-icon>
                Admin Dashboard
              </button>
            </li>
            <li class="nav-item" *ngIf="(user | async)?.accountType != 'admin'">
              <button mat-button routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                Dashboard
              </button>
            </li>
            <li class="nav-item">
              <button mat-button routerLink="/payments">
                <mat-icon> attach_money</mat-icon>
                Payments
              </button>
            </li>
            <li class="nav-item">
                <button mat-button routerLink="/user-list">
                    <mat-icon>list</mat-icon>
                    Users
                </button>
            </li>
            <li>
                <button mat-button routerLink="/announces">
                  <mat-icon>add_alert</mat-icon>
                  Anounces</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div>
    <button mat-button class="justify-content-end" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</nav>
<p>payments works!</p>
