.content {
    background-image: url("../assets/images/43Shcd_c.jpg_medium");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

}