<div *ngIf="currentPayment" class="edit-form">
    <form>
        <div class="form-group">
          <label for="title">{{'title' | translate}}</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentPayment.title"
            name="{{'title' | translate}}"
          />
        </div>
        <div class="form-group">
          <label for="userName"> {{'name' | translate}} </label>
          <input
            type="text"
            class="form-control"
            id="userName"
            [(ngModel)]="currentPayment.userName"
            name="{{'name' | translate}}"
          />
        </div>

        <div class="form-group">
            <label for="paymentDate">{{'payment-date' | translate}}</label>
            <input
              type="date"
              class="form-control"
              id="paymentDate"
              [(ngModel)]="currentPayment.paymentDate"
              name="{{'payment-date' | translate}}"
            />
          </div>
          <div class="form-group">
            <label for="flatNumber">{{'flat' | translate}}</label>
            <input
              type="number"
              class="form-control"
              id="flatNumber"
              [(ngModel)]="currentPayment.flatNumber"
              name="{{'flat' | translate}}"
            />
          </div>
          <div class="form-group">
            <label for="paymentCount">{{'payment-count' | translate}}</label>
            <input
              type="number"
              class="form-control"
              id="paymentCount"
              [(ngModel)]="currentPayment.paymentCount"
              name="{{'payment-count' | translate}}"
            />
          </div>
    </form>
    <span class="btn btn-outline-danger btn-sm ml-2" (click)="updatePayment()">
      {{'update' | translate}}
    </span>
    <span class="btn btn-outline-danger btn-sm ml-2" (click)="deletePayment()">
      {{'delete' | translate}}
    </span>
    <p>{{ message }}</p>
  </div>
  
  <div *ngIf="!currentPayment">
    <br />
    <p>{{"no-payment" | translate}}</p>
  </div>
  