<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between"
    style="background: #3f51b5; color: white;">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <button type="button" class="btn btn-sm btn-outline-warning" (click)="changeLanguage('en-US')" [class.active]="!translateService.currentLang || translateService.currentLang === 'en-US'">English</button>
                <button type="button" class="btn btn-sm btn-outline-warning ml-5" (click)="changeLanguage('tr-TR')" [class.active]="translateService.currentLang === 'tr-TR'">Turkish</button>
            </ul>
        </div>
    <div>
        <button mat-button class="justify-content-end" routerLink="/login">
            <mat-icon>login</mat-icon>
            {{ "login" | translate }}
        </button>
    </div>
</nav>

<div class="m-5 d-flex justify-content-center">
    <button mat-raised-button color="primary">
        <mat-icon>supervised_user_circle</mat-icon>
        <span> {{ "signup" | translate }} </span>
    </button>
</div>

<div class="form-container mat-elevation-z5">
    <mat-card>
        <form [formGroup]="signupForm" (ngSubmit)="signup()" style="text-align: center;">
            <mat-form-field>
                <input matInput formControlName="displayName" placeholder="User Name">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="email" type="email" matInput placeholder="Email Address">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="phoneNumber" type="number" matInput placeholder="Phone Number">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="startDate" type="date" matInput placeholder="Başlangıç Tarihi">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="password" type="password" matInput placeholder="Password">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="flatNumber" type="number" matInput placeholder="Flat Number">
            </mat-form-field>
            <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                <span>{{ firebaseErrorMessage }}</span>
            </div>
            <div class="center margin-top">
                <button mat-raised-button color="primary">{{ "sign-up" | translate }}</button>
                <button mat-raised-button color="primary" class="ml-3" routerLink="/login"> {{ "login" | translate }} </button>
            </div>
        </form>
    </mat-card>
</div>

<div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
    <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>