<div class="row d-flex justify-content-center">
    <div class="col-4 mt-5">
        <div class="list-group mt-5" id="list-tab" role="tablist">
            Signup Page
            <br>
            <br>
            <button mat-raised-button color="primary" routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>

            <mat-card class="form-card">
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Full Name</mat-label>
                            <input autocomplete="off" formControlName="displayName" type="text" matInput
                                placeholder="Display Name">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" type="email" matInput placeholder="Email">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input autocomplete="off" formControlName="password" type="password" matInput
                                placeholder="Password">
                        </mat-form-field>
                    </p>
                    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                        <span>{{ firebaseErrorMessage }}</span>
                    </div>

                    <button mat-raised-button color="primary">Signup</button>

                    <button class="mt-5 ml-2" mat-raised-button color="primary" routerLink="/forgot-password">
                        <mat-icon>help_outline</mat-icon>
                        <span>Forgot password</span>
                    </button>
                    <button class="mt-5 ml-2" mat-raised-button color="primary" routerLink="/verify-email">
                        <mat-icon>help_outline</mat-icon>
                        <span>Resend email verification</span>
                    </button>
                </form>
            </mat-card>

            <div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
                <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </div>
    </div>
</div>