<div *ngIf="currentComplaint" class="edit-form">
    <form>
      <div class="form-group">
        <label for="title">{{"title" | translate}}</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentComplaint.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">{{"description" | translate}}</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentComplaint.description"
          name="description"
        />
      </div>
    </form>
    <span class="btn btn-outline-danger btn-sm ml-2" (click)="updateComplaint()">
      {{"update" | translate}}
    </span>
    <span class="btn btn-outline-danger btn-sm ml-2" (click)="deleteComplaint()">
      {{"delete" | translate}}
    </span>
  </div>
  
  <div *ngIf="!currentComplaint">
    <br />
    <p> {{"no-complaint" | translate}} </p>
  </div>
  