<nav  class="navbar navbar-expand-lg navbar-light d-flex justify-content-between" style="background: #3f51b5; color: white;">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background: #3f51b5; color: white;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button mat-button routerLink="/dashboard">
                                <mat-icon>dashboard</mat-icon>
                                Dashboard
                            </button>
                        </li>
                        <li class="nav-item">
                            <button mat-button routerLink="/payments">
                                <mat-icon> attach_money</mat-icon>
                                Payments
                            </button>
                        </li>
                        <li class="nav-item">
                            <button mat-button [matMenuTriggerFor]="menu">Users</button>
                            <mat-menu #menu="matMenu">
                            <button mat-menu-item routerLink="/new-user">
                              <mat-icon>account_circle</mat-icon>
                              Add User
                            </button>
                            <button mat-menu-item routerLink="../user-list">
                              <mat-icon>list</mat-icon>
                              User List
                            </button>
                          </mat-menu>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div>
        <button mat-button class="justify-content-end" (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
        </button>
    </div>
</nav>


<div class="row d-flex justify-content-start ml-5">
    <div class="col-4 mt-1">
        <div class="list-group mt-2" id="list-tab" role="tablist">
            <div class="content-container">
                
                <button mat-raised-button color="primary">
                    <mat-icon>home</mat-icon>
                    <span>Admin Dashboard Page</span>
                </button>
                <br>
                <div *ngIf="(user | async)?.accountType == 'admin'; else notAdmin">
                    hello admin!
                    <br>
                    this is a simple test for admin status. a more rigorous test is to edit the auth.guard.ts file :)

                    <mat-card *ngIf="(user | async)" class="mt-2">
                        <mat-card-header>
                          <mat-card-title>Account Type: {{ (user | async)?.accountType }}</mat-card-title>
                          <mat-card-title>Display Name: {{ (user | async)?.displayName }}</mat-card-title>
                          <mat-card-title>Email: {{ (user | async)?.email }}</mat-card-title>
                        </mat-card-header>
                      </mat-card>
                </div>
                <ng-template #notAdmin>
                    Not admin
                </ng-template>
            </div>
        </div>
    </div>
</div>


 <!-- <div class="page-container">

    <div class="content-container">
        Admin Dashboard

        <br>
        <br>
<button mat-raised-button color="primary" routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button> 

        <br>
        <br>

        <div *ngIf="(user | async)?.accountType == 'admin'; else notAdmin">
            hello admin!
            <br>
            this is a simple test for admin status. a more rigorous test is to edit the auth.guard.ts file :)
        </div>

        <ng-template #notAdmin>
            Not admin
        </ng-template>
    </div>
</div>  -->