.page-container {
    grid-template-columns: 60px auto;
    height: 100%;
    
  }

  .side-bar {
    background: #3f51b5;
  }

  .nav-link {
    color: #FFF;
    font-size: 28px;
  }

  .content-container {
    margin-top: 30px;
    margin-left: 13px;
  }

  .brands{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }