<nav class="navbar navbar-expand-sm navbar-light d-flex justify-content-between"
  style="background: #3f51b5; color: white;">
  <div>
    <nav class="navbar navbar-expand-sm navbar-light" style="background: #3f51b5; color: white;">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngIf="(user | async)?.accountType == 'admin'">
              <button mat-button routerLink="/admin">
                <mat-icon>admin_panel_settings</mat-icon>
                {{ 'admin' | translate }}
              </button>
            </li>
            <li class="nav-item" *ngIf="(user | async)?.accountType != 'admin'">
              <button mat-button routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                {{ 'dashboard' | translate }}
              </button>
            </li>
            <li class="nav-item">
              <button mat-button routerLink="/payments">
                <mat-icon> attach_money</mat-icon>
                {{ 'payments' | translate }}
              </button>
            </li>
            <li class="nav-item" *ngIf="(user | async)?.accountType == 'admin'">
              <button mat-button routerLink="/user-list">
                <mat-icon>list</mat-icon>
                {{ 'userList' | translate }}
              </button>
            </li>
            <li>
                <button mat-button routerLink="/announces">
                  <mat-icon>add_alert</mat-icon>
                  {{ "anounces" | translate }}
                </button>
            </li>
            <li>
              <button mat-button routerLink="/complaints">
                <mat-icon>add_alert</mat-icon>
                {{ "complaints" | translate }}
              </button>
          </li>
          <li>
            <button mat-button routerLink="/contact">
              <mat-icon>add_alert</mat-icon>
              {{ "contact" | translate }}
            </button>
          </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
    <div class="d-flex flex-row">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <button type="button" class="btn btn-sm btn-outline-warning" (click)="changeLanguage('en-US')" [class.active]="!translateService.currentLang || translateService.currentLang === 'en-US'">English</button>
          <button type="button" class="btn btn-sm btn-outline-warning ml-5" (click)="changeLanguage('tr-TR')" [class.active]="translateService.currentLang === 'tr-TR'">Turkish</button>
      </ul>
      <button mat-button class="justify-content-end" (click)="logout()">
        <mat-icon>logout</mat-icon>
        {{ 'logout' | translate }}
      </button>
  </div>
</nav>

<div class="row d-flex justify-content-start ml-5">
    <div class="col-4 mt-1">
        <div class="list-group mt-2" id="list-tab" role="tablist">
            <div class="content-container">
                <button mat-raised-button color="primary" style="cursor: default !important;">
                    <mat-icon>home</mat-icon>
                    <span> {{"dashboard" | translate}} </span>
                </button>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="col-8 m-5">
    <div class="content-container">
        <div class="table-responsive">
            <table *ngIf="(user | async)" id="example"
                class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
                <thead>
                  <tr style="text-align: center;" >
                      <th  scope="col"> {{ "name" | translate }} </th>
                      <th scope="col"> {{ "email" | translate }} </th>
                      <th scope="col"> {{ "phone" | translate }} </th>
                      <th scope="col"> {{ "account" | translate }} </th>
                      <th scope="col"> {{ "start" | translate }} </th>
                      <th scope="col"> {{ "flat" | translate }} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center;">
                        <td> {{ (user | async)?.displayName }} </td>
                        <td> {{ (user | async)?.email }} </td>
                        <td> {{ (user | async)?.phoneNumber }} </td>
                        <td> {{ (user | async)?.accountType }} </td>
                        <td> {{ (user | async)?.startDate }} </td>
                        <td> {{ (user | async)?.flatNumber }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-8 m-5" style="border: 2px solid; border-radius: 50px; background-color: #d7f8fa;">
  <button mat-raised-button color="primary" class="m-3" style="cursor: default !important;">
      <mat-icon>add_alert</mat-icon>
        <span> {{"cretae-complaint" | translate}} </span>
    </button>

    <div class="submit-form ml-3">
      <div>
        <div #complaintform class="form-group">
          <label for="title">{{"title" | translate}}</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="complaint.title"
            name="title"
          />
        </div>
    
        <div class="form-group">
          <label for="description">{{"description" | translate}}</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="complaint.description"
            name="description"
          />
        </div>
    
        <button (click)="saveComplaint()" class="btn btn-success m-3 ">{{"submit" | translate}}</button>
      </div>
</div>
</div>
